<div class="container">
    <H3>Real Time Calculator Application</H3>
    <div layout="row" id="display">
<h3>{{cc.screen.show}}</h3>
        </div>
    <button ng-value = "1" ng-click="cc.updateScreen(1)">1</button>
    <button ng-value = "2">2</button>
    <button ng-value = "3">3</button>
        <button value="+" ng-click='cc.updateScreen("+")'>+</button>
        <button value="=" ng-click='cc.total("=")'>=</button>

<div class="displayProblems">
    <ul ng-repeat = "equation in cc.equations.data">
        <li>{{equation.problem}}</li>
    </ul>
</div>
</div>